
<div class="info-footer" id="kontakt">
    <ul class="info-box-footer info-border-footer">
        <h6>Praxisadresse</h6>
        <li>Praxis Dr. Frauke Mantey-Stiers</li>
        <li>Am Sorgfeld 2</li>
        <li>22589 Hamburg</li>
        <li><br></li>
        <li>Telefon: (040) 82 24 11 80</li>
        <li>Fax: (040) 82 24 11 99</li>
       
    </ul>
    <ul class="info-box-footer info-border-footer info-sprechzeiten-footer">
        <h6>Sprechzeiten</h6>
        <li>Montag, Dienstag & Donnerstag: </li>
        <li>08:00 - 12:00 Uhr // 16:00 - 18:00 Uhr </li>
        <li></li>
        <li>Mittwoch & Freitag: </li>
        <li>08:00 - 12:00 Uhr</li>
    </ul>
    <ul class="info-box-footer info-sidemap-footer">
        <h6>Sidemap</h6>
        <li><a href="index.html">Home</a></li>
        <li><a href="leistungen.html">Leistungen</a></li>
        <li><a href="team.html">Team</a></li>
        <li><a href="praxis.html">Praxis</a></li>
        <li><a href="mesotherapie.html">Ästhetische Medizin</a></li>
        <li><a href="stellenangebote.html">Stellenangebote</a></li>
       
    </ul>

</div>

<footer class="footer">

    
    <section class="footersection">  
        <div class="footer-widget-bar">
           
        </div>
        <span class="footerspan">
            <a href="datenschutz.html">Datenschutz</a>
            <a href="impressum.html">Impressum</a>
        </span>
        
    </section>  
    
    <div class="nachoben">
        <a href="#header">
            <img class="footer-widget-up" src="./img/up.png">
        </a>
        
    </div>
    
</footer>
    

