<div class="header" id="header">
   <div class="logo-title">
        <div class="header-logo">
            <img src="img/logoblau.jpg" alt="medical" class="logo">
            
        </div>

        
    </div> 
    

    <div class="nav_container dropdown">
        <img src="img/burger-menu2.png" onclick="myFunction()" class="burger">
        <nav id="menutoggle" class="menu-toggle">
            <a class="nav-link nav-link--toggle" href="index.html">Home</a>
            <a class="nav-link nav-link--toggle" href="leistungen.html">Leistungen</a>
            <!--<a class="nav-link" href="mesotherapie.html">Mesotherapie</a>-->
            <a class="nav-link nav-link--toggle" href="team.html">Team</a>
            <a class="nav-link nav-link--toggle" href="praxis.html">Praxis</a>
            <a class="nav-link nav-link--toggle" href="#kontakt">Kontakt</a>
        </nav>
    </div>
</div>